<h1>Give Me Your Dogs (Please)</h1>
<section>
  <p>For my project I'm creating an app to help people learn to recognise different breeds of dog by sight. For that purpose, I need photographs of as many breeds of dog as possible!</p>
  <p>It would be a huge help if you could upload any pictures of your own dogs that you'd be okay with me using.</p>
</section>
<hr/>
<section>
  <%= render 'upload_form' %>
  <%= javascript_pack_tag 'direct_upload' %>
  <%= stylesheet_link_tag 'direct_upload' %>
</section>
<hr/>
<p class="counter">Total dogs uploaded:
  <%= @count %></p>
